{% extends 'base.html.twig' %}

{% block title %}Ihr Passwort – Cyber-Securitas{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

        {% set passwords = app.flashes('revealed_password') %}

        {% if passwords|length > 0 %}

            <div class="alert alert-warning d-flex align-items-start mb-4" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="me-3 flex-shrink-0 mt-1" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                    <strong>Wichtiger Hinweis:</strong><br>
                    Dies ist Ihr Passwort, es wurde bereits vom Server gelöscht. Speichern Sie Ihr Passwort unverzüglich an einer sicheren Stelle.
                </div>
            </div>

            {% for password in passwords %}
                <div class="card">
                    <div class="card-header text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        </svg>
                        Entschlüsseltes Passwort
                    </div>
                    <div class="card-body">
                        <div class="link-display mb-3" id="revealedPassword{{ loop.index }}">{{ password }}</div>
                        <button
                            class="btn btn-outline-secondary btn-sm cs-copy-password"
                            id="copyPwdBtn{{ loop.index }}"
                            data-copy="{{ password|e('html_attr') }}"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="me-1" viewBox="0 0 16 16">
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                            Passwort kopieren
                        </button>
                    </div>
                </div>
            {% endfor %}

            <div class="text-center mt-4">
                <a href="/" class="btn btn-outline-secondary">Neuen Link erstellen</a>
            </div>

        {% else %}

            <div class="card">
                <div class="card-body text-center py-5">
                    <div class="icon-circle icon-circle-warning mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    </div>
                    <h4 class="mb-2">Kein Passwort verfügbar</h4>
                    <p class="text-muted mb-4">
                        Es sind keine Passwortdaten vorhanden. Bitte öffnen Sie den Ihnen zugesandten Link erneut.
                    </p>
                    <a href="/" class="btn btn-danger">Zurück zur Startseite</a>
                </div>
            </div>

        {% endif %}

    </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
